
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(255,153,0)
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(219,132,0);
    border-radius: 9px; ; 
}


.menuButton {
color: rgb(255, 203, 47); font-size: 14px; line-height: 14px; padding: 8px; border-radius: 12px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(164, 90, 25) 0%, rgb(203, 117, 31) 51%, rgb(164, 90, 25) 100%); box-shadow: rgba(0, 0, 0, 0.3) -1px 5px 20px 0px; border: 2px solid rgb(104, 59, 23); display: inline-block;}
.menuButton:hover {
background: #A45A19; }
.menuButton:active {
background: #A45A19; }


.post {
    display: flex;
    flex-direction:  row;
    justify-content: left;
    border: 3px solid rgba(104,59,23,0.47);
    padding: 5px;
    margin: 10px;
}

.postImage {
    flex-grow: 1;
    max-width: 100px;
    max-height: 100px;
    margin: 5px;
}

.postText {
    flex-grow: 2;
    margin: 5px;
}

.livestreamBody{
    display: flex;
    flex-direction: row;
    margin: 5px;

}

.sensorImage{
    flex-grow: 2;
    margin: 10px;
}

.sensorSpec {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 10px;
}

.ImageGallery{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    height: 100%;
}

.GalleryImage{
    width: 50%;
}


/*Header*/
header {
	background: #333;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
	width: 100%;
	position: fixed;
	z-index: 112;
	top: 0;
}
header.normal {
	position: relative;
}
.navbar-header {
}
.navbar-toggle {
	margin-right: 0;
	position: absolute;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
	font-size: 30px;
	color: #fff;
	width: 100%;
	font-weight: bold;
	text-transform: none;
	padding: 10px 0 20px 0;
}
.navbar-default .navbar-brand a {
	text-decoration: none;
	color: #FFF;
}


.navbar-default .navbar-brand a span {
	color: #e74c3c;
}


.navbar-default {
	background: none;
	border: none;
	margin-bottom: 0px;
	position: relative;
	z-index: 999;
}



.menuBar {
	padding-right: 15px;
	float: right;
}
.menuBar li {
	margin: 20px 0;
	position: relative;
	float: left;
}

.menuBar li a {
	color: #999999;
	border-bottom: 2px solid transparent;
	font-size: 11px;
	padding: 10px 20px;
	display: block;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-transform: uppercase;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
	line-height: 20px;
	outline: none;
}
.menuBar li a:hover {
	color: #fff;
	border-color: #E74C3C;
	text-decoration: none;
}

.menuBar li.active a {
	color: #fff;
	border-color: #E74C3C;
}



 @media(min-width:768px) {
.menuBar, .menuBar ul {
	display: block !important;
}
}
@media(min-width:992px) {  
    .menuBar li a {
        font-size: 11px;
        padding: 10px 20px;
    }
}
.menuBar li.current {
	border-bottom: #E74C3C solid 2px;
}